<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados do filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngIf="filme">
    <ion-card-header>
      <img [src]="filme.thumbnail" />
    </ion-card-header>

    <ion-card-content>
      <h1>
        {{filme.nome}} -
        <ion-chip color="success" outline="true">
          <ion-label>{{filme.classificacao}}%</ion-label>
        </ion-chip>
      </h1>
      <p>{{filme.lancamento}} - {{filme.duracao}}</p>
    </ion-card-content>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-badge color="light" *ngFor="let genero of filme.generos"
          >{{genero}}
        </ion-badge></ion-label
      >
    </ion-item>
  </ion-card>
</ion-content>
