<ion-content [fullscreen]="true">
  <div class="center">
    <ion-card color="light">
      <img src="assets/logo.png" alt="Logo">
      <ion-card-title class="ion-text-center">Videos App</ion-card-title>
      <ion-item lines="none">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button (click)="login()" expand="full" fill="outline" color="primary">Login</ion-button>
      <ion-button expand="full" fill="clear" color="primary">Registrar</ion-button>
    </ion-card>
  </div>
</ion-content>
