
h1
{
  font-weight: bold;
  color: blue;
}

img
{
  width: auto;
  height: auto;
  border-radius: 50%;
  align-content: center;
}

:root{

  --primary: #3880ff;
  --primaryShade: #3171e0;
  --primaryTint: #4c8dff;
  --secondary:#3dc2ff;
  --secondaryShade:#36abe0;
  --secondaryTint:#50c8ff;
  --tertiary:#5260ff;
  --tertiaryShade:#4854e0;
  --tertiaryTint:#6370ff;
  --success:#2dd36f;
  --successShade:#28ba62;
  --successTint:#42d77d;
  --warning:#ffc409;
  --warningShade:#e0ac08;
  --warningTint:#ffca22;
  --danger:#eb445a;
  --dangerShade:#cf3c4f;
  --dangerTint:#ed576b;
  --dark:#222428;
  --darkShade:#1e2023;
  --darkTint:#383a3e;
  --medium:#92949c;
  --mediumShade:#808289;
  --mediumTint:#9d9fa6;
  --light:#f4f5f8;
  --lightShade: #d7d8da;
  --lightTint: #f5f6f9;
}
