<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Videos App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Pesquisa"></ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/6DrHO1jr3qVrViUO6s6kFiAGM7.jpg"
        />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1> Sonic the Hedgehog 2</h1>
          <p>04/07/2022 (BR) -- 2h 2m</p>
          <p>Action, Science Fiction, Comedy, Family, Adventure</p>
        </div>
      </ion-label>
      <ion-chip color="success" outline="true">
        <ion-label>76%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
